.komentar{

    padding: 20px;
    box-shadow: 3px 4px 7px 1px #484848;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 90%;
    margin-right: 200px;
    display: flex;
}

.komentar p{

    font-weight: 100%;
}
.image-wrapper{

    margin-top: 10px;
    margin-right: 10px;
}